*.iml
.gradle
crowdin.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/markdown-navigator*
/.idea/caches
.DS_Store
/build
/captures
app/src/main/res_supertinyicons/
app/src/main/java/org/shadowice/flocke/andotp/Utilities/EntryThumbnail.java
